#A{
    color: blueviolet;
    text-decoration: none;
    background-color: rgb(193, 148, 237);
    border-radius: 15%;
    border-color:rgb(197, 111, 226);
    padding: 5px 10px;
   
    
}

#A:hover{
    color: rgb(10, 9, 9);
    background-color: rgb(128, 0, 255);
    
}
body {
    background-color: rgb(197, 111, 226);
    text-align: center;
}
.bonito {
    

}
.dd{
border-style: solid;
    border-radius: 7px;
    border-color:rgb(197, 111, 226) ;
}